{{!--
<script src="../gameSection/game.css"></script> --}}
<nav class="navbar navbar-expand-lg navbar-dark ">
		<a class="navbar-brand" href="#">Monkeys VS Shakespeare</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/chat">Chat</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
<main id="gameBoard">
    <section id ="playBoard">
    <section id="visualBoard">
        <div id="playerCorner"> Player <img src="./images/Player Icon.png" alt=""></div>
        <div id="enemyCorner">Enemy <img src="./images/Enemy Icon.png" alt=""></div>
    </section>
    <section id="combatLog">
    </section>
    <section id="typingBoard" tabindex="0">
        <div id="wording"></div>
        <div id="cursor"></div>
        <div id="focus-error">Click here to get back into the action!</div>
    </section>
    <section id="header">
        <div id="info"></div>
    </section>
    </section>
</main>

<script src="js/game.js"></script>