<h1>User Login</h1>
<form id="login-form">
    <input type="text" id="login-email" placeholder="email">
    <input type="password" name="" id="login-password">
    <button>Enter</button>
</form>

<script src="/js/login.js"></script>